#header {
  .logo-img {
    height: 90px;
    max-height: 2.75rem;
  }

  .ctas {
    min-width: 100px;
    padding: 0;
    .loading {
      text-align: center;
      span {
        padding-left: $padding/4;
      }
    }
  }

  .navbar-item {
    img {
      max-height: 2.15rem;
    }
  }

  .navbar-end {
    > a.navbar-item {
      padding: 1rem 1.5rem;
    }
    div.navbar-item {
      .button {
        padding-right: 2rem;
        padding-left: 2rem;
      }
    }
    .status-icon {
      margin-left: $padding/2;
    }
  }

  .user-box {
    @include from($desktop) {
      border-left: 1px solid rgba(0, 0, 0, 0.08);
    }
    // padding: $padding/2;
    text-align: right;
    .name {
      padding-left: $padding/2;
      padding-right: $padding/2;
    }
    .image {
      display: inline-flex;
      margin-right: $padding * 2;
    }
    .navbar-link {
      padding-right: $padding/2;
    }
  }

  .navbar-item.has-dropdown {
    &:hover {
      .navbar-dropdown {
        display: block;
        @include desktop {
          animation: fadeIn 0.2s ease-in-out;
        }
      }
    }
  }
}
