@font-face {
  font-family: "Antro Vectra";
  src: url("/fonts/AntroVectra.woff2") format("woff2"),
    url("/fonts/AntroVectra.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: auto;
}

@font-face {
  font-family: "Product Sans";
  src: url("/fonts/Product Sans Regular.ttf") format("ttf"),
    url("/fonts/Product Sans Bold.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
  font-display: auto;
}

@font-face {
  font-family: "Google Sans";
  src: url("/fonts/GoogleSans-Regular.ttf") format("ttf"),
    url("/fonts/GoogleSans-Medium.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
  font-display: auto;
}
