#ticker {
  overflow: scroll;
  flex-shrink: 0;
  padding-bottom: 17px;

  .tick {
    min-width: 180px;
    border-right: 1px solid $dark;
    padding: 0 1rem;
    white-space: nowrap;
  }

  &::-webkit-scrollbar {
    display: none;
  }
}
