.sidebar {
  padding: 1em;
}

.sidebar__logo {
  text-align: center;
  width: auto;
  display: block;
}
.sidebar__logo > img {
  height: 10em;
}

.sidebar__operation__method {
  text-transform: uppercase;
  border: 1px solid #2ad389;
  border-radius: 3px;
  font-size: 8pt;
  padding: 2px 4px;
  color: #2ad389;
  margin-right: 4px;
}
