.sidebar {
  position: -webkit-sticky;
  position: sticky;
  top: 3.25rem;
  overflow: scroll;
  height: 100vh;
  padding: 2em 2em 3.25rem 2em;
}

.sidebar__logo {
  text-align: center;
  width: auto;
}
.sidebar__logo > img {
  height: 10em;
}

.padding-top-2 {
  padding-top: 2em;
}
