.operation {
  border-bottom: 1px solid #4e575e;
}

.operation__description {
  padding: 2em;
}

.operation__samples {
  background-color: #5c666f;
  padding: 0;
  margin: 0;
}

.parameter__box {
  background-color: #f8f8f9;
  padding: 1em;
  margin: 1em;
  border-radius: 3px;
  border: 1px solid #e8eaeb;
}

.parameter__box:hover {
  background-color: #f0f0f2;
}
