.operation {
  border-bottom: 1px solid #4e575e;
}

.operation__description {
  padding: 2em;
}

.operation__samples {
  background-color: #5c666f;
  padding: 0;
  margin: 0;
}

.operation__description__method {
  text-transform: uppercase;
  border: 1px solid #2ad389;
  border-radius: 3px;
  font-size: 8pt;
  padding: 2px 4px;
  color: #2ad389;
  margin-right: 4px;
}
